:root{
    --bghero:#1090CB1A;
    --color:#1090CB
}
section{
   width: 100% !important;
   background-color:var(--bghero) ;
}
.home{
    color: var(--color)!important;
}
.button{
    background-color: var(--color);
    color:white;
}
.outline{
    border-color: var(--color);
    color: var(--color);
}
.background{
    background-color: #EFEAFF;
    width: 50px;
    height: 50px;
    text-align: center;
}
.happy{
background-color: #08D3BB;
width: 50px;
height: 50px;
border-radius: 30px;
}
.happy2{
    background-color: #1090CB;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.happy3{
    background-color:#9208D3;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.column{
    display: flex;
}
.color{
    color: var(--color);
}
.btncolor{
    background-color:white;
    border-color: var(--color);
    color: var(--color);
}
.colorbtn{
        background-color: var(--color);
            color:white;
}
.subscribebutton{
    background-color:black ;
    width: 120px!important;
    color: white;
}
.cardcolor{
    background-color:#F4F4F4;
    padding-top: 80px;
}
.cardcolor2{
    background-color: var(--color);
    padding-top: 80px;
    color: white;
}